[Unit]
Description=Minio instance %I
Documentation=https://docs.minio.io
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable=/usr/bin/minio

[Service]
# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65536

Type=simple
User=minio
Group=minio
EnvironmentFile=/etc/minio/minio-%i.conf
WorkingDirectory=/srv/minio/%i

#ExecStartPre=/bin/bash -c "[ -n \"${MINIO_VOLUMES}\" ] || echo \"Variable MINIO_VOLUMES not set in /etc/defaults/minio\""
ExecStartPre=/usr/bin/echo "/usr/bin/minio server -C /srv/minio/%i/conf/ $MINIO_OPTS /srv/minio/%i/data/"
ExecStart=/usr/bin/minio server -C /srv/minio/%i/conf/ $MINIO_OPTS /srv/minio/%i/data/

# SIGTERM signal is used to stop Minio
KillSignal=SIGTERM
SendSIGKILL=no
SuccessExitStatus=0

[Install]
WantedBy=multi-user.target
